@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 18px;
    color: #E5E7eb;
    
}

ul a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    display: flex;
    flex: 0 1 0;
    background-color: #3882F6;
    color: #E5E7eb;
    max-width: 100px;
    min-height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-weight: bolder;
    
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    
}


.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px;
}

.top {
    flex: 1 1 0;
}

.description {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    gap: 750px
    
}

.awesome {
    display: flex;
    flex-direction: column;
    flex: 0 1 0;
    min-width: 400px;
    
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    
}

.image {
    display: flex;
    flex-direction: column;
    min-width: 400px;


}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    
    
    
}

.information img {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    
    
}

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px
    
}

.pair{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 150px;
    
}

.Quote {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    flex: 1 1 0;
    min-height: 300px;
    
}

.saying {
    font-size: 36px;
    font-style: italic;
}

.author{
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-size: 20px;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    
}

.blue {
    display: flex;
    flex-direction: column;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 50px;
    margin: 30px;
    justify-content: center;
    align-items: baseline;
    width: 1000px;
    border-radius: 25px;
    height: 50px;
    
}

.inline {
    display: flex;
    gap: 400px;
}

.inline button{
    min-width: 100px;
    max-height: 30px;
    border-color: #E5E7EB;
    font-weight: bolder;
}

.inline p {
    margin-top: 0px;
} 

.blue h3 {
    margin-bottom: 0px;
}





